<page-header title="费用标准管理" autoBreadcrumb="false" [action]="action">
  <ng-template #action>
    <button nz-button (click)="selectedRow={};addOrEditOrView(modalContent,'add')" [nzType]="'primary'">
      <i nz-icon nzType="plus"></i>
      <span>新增费用标准</span>
    </button>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form se-container labelWidth="130">
    <se label="收费规则类型" col="4">
      <nz-select [(ngModel)]="query.cate" name="cate" [nzPlaceHolder]="'请选择'" nzAllowClear (ngModelChange)="getData(1)">
        <nz-option *ngFor="let i of feeTypeList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se>
      <button nz-button [nzType]="'primary'" (click)="getData(1)" [nzLoading]="loading">查询</button>
      <button nz-button (click)="reset()" [disabled]="loading">重置</button>
    </se>
  </form>
</nz-card>

<nz-card [nzBordered]="false">
  <st #st [data]="data" [total]="total" [ps]="query.pageSize" [pi]="query.pageNo" [columns]="columns" [page]="pages"
    [loading]="loading" (change)="stChange($event)" [scroll]="{x: '1000px'}"></st>
</nz-card>

<ng-template #modalContent>
  <form nz-form se-container labelWidth="90">
    <se label="收费类型" col="2" required>
      <nz-select [(ngModel)]="selectedRow.cate" name="cate" [nzPlaceHolder]="'请选择'" (ngModelChange)="cateChange()">
        <nz-option *ngFor="let i of feeTypeList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="价格" col="2" required>
      <input nz-input [(ngModel)]="selectedRow.price" name="price" />
    </se>
    <se label="单位" col="2" required>
      <input nz-input [(ngModel)]="selectedRow.unit" name="unit" />
    </se>
    <se label="楼栋类型" col="2" required>
      <nz-select [(ngModel)]="selectedRow.buildingCate" name="type" [nzPlaceHolder]="'请选择'">
        <nz-option *ngFor="let i of buildingTypeList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="起止日期" col="2" required>
      <nz-range-picker [(ngModel)]="dateRange" name="dateRange" [nzFormat]="dateFormat"></nz-range-picker>
    </se>
  </form>
</ng-template>
