<page-header title="费用标准管理" autoBreadcrumb="false" [action]="action">
  <ng-template #action>
    <button nz-button (click)="selectedRow={};addOrEditOrView(modalContent,'add')" [nzType]="'primary'">
      <i nz-icon nzType="plus"></i>
      <span>新增费用标准</span>
    </button>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form se-container labelWidth="130">
    <se label="收费规则类型" col="4">
      <nz-select [(ngModel)]="query.provinceCode" name="provinceCode" [nzPlaceHolder]="'请选择'"
        (ngModelChange)="handleProvinceSelected($event)">
        <nz-option *ngFor="let i of provinceList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="起始日期" col="4">
      <nz-select [(ngModel)]="query.cityCode" name="cityCode" [nzPlaceHolder]="'请选择'"
        (ngModelChange)="handleCitySelected($event)">
        <nz-option *ngFor="let i of cityList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="结束日期" col="4">
      <nz-select [(ngModel)]="query.districtCode" name="districtCode" [nzPlaceHolder]="'请选择'">
        <nz-option *ngFor="let i of areaList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="启用状态" col="4">
      <nz-select [(ngModel)]="query.districtCode" name="districtCode" [nzPlaceHolder]="'请选择'">
        <nz-option *ngFor="let i of areaList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se>
      <button nz-button [nzType]="'primary'" (click)="getData(1)" [nzLoading]="loading">查询</button>
      <button nz-button (click)="reset()" [disabled]="loading">重置</button>
    </se>
  </form>
</nz-card>

<nz-card [nzBordered]="false">
  <st #st [data]="data" [total]="total" [ps]="query.pageSize" [pi]="query.pageNo" [columns]="columns" [page]="pages"
    [loading]="loading" (change)="stChange($event)" [scroll]="{x: '1000px'}"></st>
</nz-card>

<ng-template #modalContent>
  <form nz-form se-container labelWidth="180">
    <se label="收费类型" col="2">
      <nz-select [(ngModel)]="selectedRow.provinceCode" name="provinceCode" [nzPlaceHolder]="'请选择'"
        (ngModelChange)="handleProvinceSelected($event)">
        <nz-option *ngFor="let i of provinceList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="收费标准(元/平方米/月)" col="2">
      <input nz-input [(ngModel)]="selectedRow.address" name="address" />
    </se>
    <se label="起始日期" col="2">

    </se>
    <se label="结束日期" col="2">

    </se>
    <se label="是否立即启用" col="2">
      <label nz-checkbox [(ngModel)]="selectedRow.checked" name="checked"></label>
    </se>
  </form>
</ng-template>
