<page-header title="二维码管理" autoBreadcrumb="false" [action]="action">
  <ng-template #action>
    <button nz-button (click)="selectedRow={};addOrEditOrView(modalContent,'add')" [nzType]="'primary'">
      <i nz-icon nzType="plus"></i>
      <span>新建二维码</span>
    </button>
    <button nz-button (click)="batchDelete()" [nzType]="'primary'">
      <i nz-icon nzType="delete"></i>
      <span>批量删除</span>
    </button>
    <button nz-button (click)="batchSave()" [nzType]="'primary'">
      <i nz-icon nzType="download"></i>
      <span>批量下载</span>
    </button>
    <button nz-button (click)="allSave()" [nzType]="'primary'">
      <i nz-icon nzType="download"></i>
      <span>全部下载</span>
    </button>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <st #st [data]="data" [total]="total" [ps]="query.pageSize" [pi]="query.pageNo" [columns]="columns" [page]="pages"
    [loading]="loading" (change)="stChange($event)" [scroll]="{x: '1000px'}"></st>
</nz-card>

<ng-template #modalContent>
  <form nz-form se-container labelWidth="130">
    <se label="二维码名称" col="1" required *ngIf="!selectedRow.id">
      <input nz-input style="width:100%" placeholder="请输入二维码名称,长度不超过15" [(ngModel)]="selectedRow.location"
        name="buildingNo" />
    </se>
    <div style="text-align: center" *ngIf="selectedRow.id">
      <div style="display: flex;justify-content: center;align-items: center;position: relative;">
        <div style="position: absolute;left: 0;top: 0;right: 0;bottom: 0;opacity: 0"></div>
        <qr [value]="selectedRow.qrdata" id="qr_code" [size]="128"></qr>
      </div>
      <p>编号：{{selectedRow.id}}</p>
      <p>二维码名称：{{selectedRow.location}}</p>
      <p><i class="anticon anticon-check-circle" style="color:green;"></i>生成成功!</p>
      <p>注：该二维码仅供小区内部巡更使用</p>
    </div>

  </form>
</ng-template>
