<page-header title="线下缴费" autoBreadcrumb="false" [action]="action">
  <ng-template #action>
    <!--  <button nz-button [nzType]="'primary'">
      <i nz-icon nzType="plus"></i>
      <span>批量缴纳</span>
    </button>-->
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form se-container labelWidth="130">
    <se label="业主姓名" col="4">
      <input nz-input [(ngModel)]="query.name" name="name" />
    </se>
    <se label="所在楼栋" col="4">
      <nz-select
        [(ngModel)]="query.firstLevel"
        (ngModelChange)="selectSecondLevel($event)"
        name="firstLevel"
        [nzPlaceHolder]="'请选择'"
      >
        <nz-option *ngFor="let i of firstLevel" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="所在单元" col="4">
      <nz-select
        [(ngModel)]="query.secondLevel"
        (ngModelChange)="selectThirdLevel($event)"
        name="secondLevel"
        [nzPlaceHolder]="'请选择'"
      >
        <nz-option *ngFor="let i of secondLevel" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="所在房间" col="4">
      <nz-select [(ngModel)]="query.room" name="room " [nzPlaceHolder]="'请选择'">
        <nz-option *ngFor="let i of thirdLevel" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="手机号码" col="4">
      <input nz-input [(ngModel)]="query.tel" name="tel" />
    </se>
    <se label="缴纳状态" col="4">
      <nz-select [(ngModel)]="query.paidStatus" name="paidStatus " [nzPlaceHolder]="'请选择'">
        <nz-option *ngFor="let i of paidStatusList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="缴费时间" col="4">
      <nz-range-picker [(ngModel)]="dateRange" name="dateRange" (ngModelChange)="selectDate()"></nz-range-picker>
    </se>
    <se>
      <button nz-button [nzType]="'primary'" (click)="getData(1)" [nzLoading]="loading">查询</button>
      <button nz-button (click)="reset()" [disabled]="loading">重置</button>
    </se>
  </form>
</nz-card>

<nz-card [nzBordered]="false">
  <st
    #st
    [data]="data"
    [total]="total"
    [ps]="query.pageSize"
    [pi]="query.pageNo"
    [columns]="columns"
    [page]="pages"
    [loading]="loading"
    (change)="stChange($event)"
    [scroll]="{ x: '1000px' }"
  ></st>
</nz-card>

<ng-template #modalContent>
  <form nz-form se-container labelWidth="130">
    <se [label]="selectedRow.room" col="1">
      <p style="text-align: right">{{ selectedRow.name }}</p>
    </se>
    <se [label]="selectedRow.type + '收费标准'" col="1">
      <p style="text-align: right">{{ selectedRow.standard }}</p>
    </se>
    <se [label]="selectedRow.type + '缴费状态'" col="1">
      <p style="text-align: right">{{ selectedRow.status ? '已缴费' : '未缴费' }}</p>
    </se>
    <se label="缴纳月份" col="1">
      <p style="text-align: right">{{ selectedRow.date }}</p>
    </se>
    <se label="费用计算方式" col="1">
      <p style="text-align: right">{{ selectedRow.way }}</p>
    </se>
    <se label="金额共计" col="1">
      <p style="text-align: right">{{ selectedRow.total }}元</p>
    </se>
    <se label="缴纳方式" col="1">
      <p style="text-align: right">{{ selectedRow.channel }}</p>
    </se>
    <se label="订单编号" col="1">
      <p style="text-align: right">{{ selectedRow.orderNo }}</p>
    </se>
  </form>
</ng-template>
