<page-header title="户室信息" autoBreadcrumb="false">
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form se-container labelWidth="130">
    <se label="楼栋" col="4">
      <nz-select [(ngModel)]="query.provinceCode" name="provinceCode" [nzPlaceHolder]="'请选择'"
        (ngModelChange)="handleProvinceSelected($event)">
        <nz-option *ngFor="let i of provinceList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="单元" col="4">
      <nz-select [(ngModel)]="query.cityCode" name="cityCode" [nzPlaceHolder]="'请选择'"
        (ngModelChange)="handleCitySelected($event)">
        <nz-option *ngFor="let i of cityList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="门牌号" col="4">
      <input nz-input [(ngModel)]="query.name" name="name" />
    </se>
    <se col="4">
      <button nz-button [nzType]="'primary'" (click)="getData(1)" [nzLoading]="loading">查询</button>
      <button nz-button (click)="reset()" [disabled]="loading">重置</button>
    </se>
  </form>
</nz-card>

<nz-card [nzBordered]="false">
  <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, span: 6 }" nzHeader="1栋1单元">
    <ng-template #item let-item>
      <span style="border:1px solid black;background: yellowgreen;">{{item.title}}</span>
    </ng-template>
  </nz-list>
</nz-card>
