<page-header title="户室信息" autoBreadcrumb="false">
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form se-container labelWidth="130">
    <se label="楼栋" col="4">
      <nz-select [(ngModel)]="query.building" name="building" [nzPlaceHolder]="'请选择楼栋'"
        (ngModelChange)="selectSecondLevel($event)">
        <nz-option *ngFor="let i of firstLevel" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="单元" col="4">
      <nz-select [(ngModel)]="query.unit" name="unit" [nzPlaceHolder]="'请选择单元'"
        (ngModelChange)="selectThirdLevel($event)">
        <nz-option *ngFor="let i of secondLevel" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="房间号" col="4">
      <nz-select [(ngModel)]="query.roomNo" name="roomNo" [nzPlaceHolder]="'请选择房间号'">
        <nz-option *ngFor="let i of thirdLevel" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se col="4">
      <button nz-button [nzType]="'primary'" (click)="getBuildingStructure()">查询</button>
      <button nz-button (click)="reset()">重置</button>
    </se>
  </form>
</nz-card>

<nz-card [nzBordered]="false">

  <nz-list *ngFor="let item of data" [nzDataSource]="data" [nzGrid]="{ gutter: 16, span: 6 }" [nzHeader]="item.name">
    <div style="display: flex;width: 100%;flex-wrap: wrap;align-items: space-around;">
      <span *ngFor="let row of item.rooms"
        style="text-align:center;width:60px;line-height:40px;height:40px;border:1px solid black;margin:10px"
        [ngStyle]="setColor(row)">{{row.roomNo}}</span>
    </div>
  </nz-list>
</nz-card>
