<page-header title="投票管理" autoBreadcrumb="false" [action]="action">
  <ng-template #action>
    <button nz-button (click)="selectedRow = {}; addOrEditOrView(modalContent, 'add')" [nzType]="'primary'">
      <i nz-icon nzType="plus"></i>
      <span>发起投票</span>
    </button>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form se-container labelWidth="130">
    <se label="发布人" col="4">
      <input nz-input [(ngModel)]="query.title" name="title" />
    </se>
    <se label="状态" col="4">
      <nz-select [(ngModel)]="query.cate" name="noticeCate" [nzPlaceHolder]="'请选择'" (ngModelChange)="selectCate()">
        <nz-option *ngFor="let i of noticeCateList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="发布日期" col="4">
      <nz-date-picker
        class="input"
        [nzStyle]="{ width: '100%' }"
        nzFormat="yyyy-MM-dd"
        nzPlaceHolder="请选择"
        [(ngModel)]="query.beginDate"
        name="beginDate"
      ></nz-date-picker>
    </se>
    <se label="投票时间范围" col="4">
      <range-picker [(ngModel)]="query.start" [(ngModelEnd)]="query.end" name="date"></range-picker>
    </se>
    <se>
      <button nz-button [nzType]="'primary'" (click)="getData(1)" [nzLoading]="loading">查询</button>
      <button nz-button (click)="reset()" [disabled]="loading">重置</button>
    </se>
  </form>
</nz-card>

<nz-card [nzBordered]="false">
  <st
    #st
    [data]="data"
    [total]="total"
    [ps]="query.pageSize"
    [pi]="query.pageNo"
    [columns]="columns"
    [page]="pages"
    [loading]="loading"
    (change)="stChange($event)"
    [scroll]="{ x: '1000px' }"
  ></st>
</nz-card>

<!--新增投票-->
<ng-template #modalContent>
  <form nz-form se-container labelWidth="130">
    <se label="标题" col="1" required>
      <input nz-input [(ngModel)]="selectedRow.title" name="title" />
    </se>
    <se label="图片" col="1">
      <app-img-upload
        action="/hl/social/uploader/img/upload"
        (getImgUrl)="getImgUrl($event)"
        [inputUrls]="[selectedRow.image]"
      ></app-img-upload>
    </se>
    <se label="投票时间范围" col="1" required>
      <range-picker [(ngModel)]="dateRange" [(ngModelEnd)]="selectedRow.end" name="dateRange"></range-picker>
    </se>
    <se label="内容描述" col="1" required>
      <textarea
        rows="4"
        nz-input
        [(ngModel)]="selectedRow.desc"
        maxlength="50"
        name="desc"
        placeholder="不超过50个字"
      ></textarea>
    </se>
    <ng-container *ngFor="let option of this.selectedRow.options; let idx = index">
      <se [label]="'选项' + (idx + 1)" col="2" required>
        <input nz-input [(ngModel)]="option.name" [name]="'name' + idx" />
      </se>
      <se label="" col="2">
        <button
          nz-button
          style="border: none;"
          nzType="danger"
          (click)="removeOptions()"
          [disabled]="this.selectedRow.options.length === 2"
        >
          <i nz-icon nzType="delete" nzTheme="outline" (click)="removeOptions()"></i>删除
        </button>
      </se>
    </ng-container>

    <se label="" col="2" required>
      <button nz-button nzType="primary" (click)="addOptions()" [disabled]="this.selectedRow.options.length === 10">
        <i nz-icon nzType="plus" nzTheme="outline"></i>添加选项
      </button>
    </se>
  </form>
</ng-template>

<!--查看投票-->
<ng-template #viewContent>
  <div>
    <h1 style="text-align: center">{{ selectedRow.title }}</h1>
    <p class="detail">
      <span><strong>标签：</strong>{{ selectedRow.tag }}</span>
      <span><strong>查看人数：</strong>{{ selectedRow.clicks }}</span>
      <span><strong>发布时间：</strong>{{ selectedRow.gmtCreate }}</span>
    </p>
    <p><strong>文章概述：</strong>{{ selectedRow.descr }}</p>
    <p><strong>标题图片：</strong><img class="title-img" *ngIf="selectedRow.image" [src]="selectedRow.image" /></p>
    <div #content></div>
  </div>
</ng-template>
