<page-header title="住户管理" autoBreadcrumb="false" [action]="action">
  <ng-template #action>
    <button nz-button (click)="selectedRow={};addOrEditOrView(modalContent,'add')" [nzType]="'primary'">
      <i nz-icon nzType="plus"></i>
      <span>新增住户</span>
    </button>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form se-container labelWidth="130">
    <se label="业主姓名" col="4">
      <input nz-input [(ngModel)]="query.name" name="name" />
    </se>
    <se label="性别" col="4">
      <nz-select [(ngModel)]="query.gender" name="gender" [nzPlaceHolder]="'请选择'">
        <nz-option *ngFor="let i of genderList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="角色" col="4">
      <nz-select [(ngModel)]="query.residentIdRel" name="residentIdRel" [nzPlaceHolder]="'请选择'">
        <nz-option *ngFor="let i of relationList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="所在楼栋" col="4">
      <nz-select [(ngModel)]="query.building" (ngModelChange)="selectSecondLevel($event)" name="building"
        [nzPlaceHolder]="'请选择'">
        <nz-option *ngFor="let i of firstLevel" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="所在单元" col="4">
      <nz-select [(ngModel)]="query.unit" (ngModelChange)="selectThirdLevel($event)" name="unit"
        [nzPlaceHolder]="'请选择'">
        <nz-option *ngFor="let i of secondLevel" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="所在房间" col="4">
      <nz-select [(ngModel)]="query.roomNo" name="roomNo" [nzPlaceHolder]="'请选择'">
        <nz-option *ngFor="let i of thirdLevel" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="手机号码" col="4">
      <input nz-input [(ngModel)]="query.tel" name="tel" />
    </se>
    <se label="证件号码" col="4">
      <input nz-input [(ngModel)]="query.credentialNo" name="credentialNo" />
    </se>
    <se label="审核状态" col="4">
      <nz-select [(ngModel)]="query.certificationStatus" name="certificationStatus" [nzPlaceHolder]="'请选择'">
        <nz-option *ngFor="let i of checkList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se>
      <button nz-button [nzType]="'primary'" (click)="getData(1)" [nzLoading]="loading">查询</button>
      <button nz-button (click)="reset()" [disabled]="loading">重置</button>
    </se>
  </form>
</nz-card>

<nz-card [nzBordered]="false">
  <st #st [data]="data" [total]="total" [ps]="query.pageSize" [pi]="query.pageNo" [columns]="columns" [page]="pages"
    [loading]="loading" (change)="stChange($event)" [scroll]="{x: '1000px'}"></st>
</nz-card>

<ng-template #modalContent>
  <form nz-form se-container labelWidth="130">
    <nz-tabset>
      <nz-tab nzTitle="人员基本信息">
        <se label="证件类型" col="2" required>
          <nz-select [(ngModel)]="selectedRow.credentialType" name="credentialType" [nzPlaceHolder]="'请选择'">
            <nz-option *ngFor="let i of cardList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
          </nz-select>
        </se>
        <se label="证件号码" col="2" required>
          <input nz-input [(ngModel)]="selectedRow.credentialNo" (ngModelChange)="handleCredentialNo($event)"
            name="credentialNo" />
        </se>
        <se label="姓名" col="2" required>
          <input nz-input [(ngModel)]="selectedRow.name" name="name" />
        </se>
        <se label="性别" col="2" required>
          <nz-select [(ngModel)]="selectedRow.gender" name="gender" [nzPlaceHolder]="'请选择'">
            <nz-option *ngFor="let i of genderList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
          </nz-select>
        </se>
        <se label="出生日期" col="2">
          <nz-date-picker class="input" [nzStyle]="{ width: '100%' }" nzFormat="yyyy-MM-dd" nzPlaceHolder="出生日期"
            [(ngModel)]="selectedRow.birthday" name="birthday"></nz-date-picker>
        </se>
        <se label="手机号码" col="2" required>
          <input nz-input [(ngModel)]="selectedRow.tel" name="tel" />
        </se>
        <se label="民族" col="2">
          <input nz-input [(ngModel)]="selectedRow.nation" name="nation" />
        </se>
        <se label="详细地址" col="2">
          <input nz-input [(ngModel)]="selectedRow.address" name="address" />
        </se>
        <se label="文化程度" col="2">
          <nz-select [(ngModel)]="selectedRow.educationLevel" name="educationLevel" [nzPlaceHolder]="'请选择'">
            <nz-option *ngFor="let i of studyList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
          </nz-select>
        </se>
        <se label="工作单位" col="2">
          <input nz-input [(ngModel)]="selectedRow.workUnit" name="workUnit" />
        </se>
        <se label="户籍" col="1">
          <div style="display: flex;justify-content: space-between;margin-top: 4px;">
            <nz-select [(ngModel)]="selectedRow.provinceCode" name="provinceCode" [nzPlaceHolder]="'请选择省份'"
              (ngModelChange)="handleProvinceSelected($event)">
              <nz-option *ngFor="let i of provinceList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
            <nz-select [(ngModel)]="selectedRow.cityCode" name="cityCode" [nzPlaceHolder]="'请选择城市
            '" (ngModelChange)="handleCitySelected($event)">
              <nz-option *ngFor="let i of cityList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
            <nz-select [(ngModel)]="selectedRow.districtCode" name="districtCode" [nzPlaceHolder]="'请选择区/县'">
              <nz-option *ngFor="let i of areaList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </div>

        </se>
        <se label="备注" col="1">
          <textarea rows="4" nz-input [(ngModel)]="selectedRow.descr" name="descr"></textarea>
        </se>
        <se label="身份证国徽面" col="3" required>
          <app-img-upload action="/hl/social/uploader/img/upload" (getImgUrl)="getImgUrl($event,'front')"
            [inputUrls]="[selectedRow.idFrontUrl]"></app-img-upload>
        </se>
        <se label="身份证人像面" col="3" required>
          <app-img-upload action="/hl/social/uploader/img/upload" (getImgUrl)="getImgUrl($event,'back')"
            [inputUrls]="[selectedRow.idBackUrl]"></app-img-upload>
        </se>
        <se label="人脸采集" col="3" required>
          <app-img-upload action="/hl/social/uploader/img/upload" (getImgUrl)="getImgUrl($event,'face')"
            [inputUrls]="[selectedRow.faceUrl]"></app-img-upload>
          <!-- <web-capture-img (img)="getImage($event)"></web-capture-img> -->
        </se>
      </nz-tab>
      <nz-tab nzTitle="房间分配">
        <div *ngFor="let item of rooms;index as i;" style="overflow: hidden;margin-bottom: 50px;">
          <se [label]="'所在户室'+(i+1)" col="1" required>
            <div style="display: flex;justify-content: space-between;margin-top: 4px;">
              <nz-select [(ngModel)]="item.firstLevel" [name]="'firstLevel'+i" [nzPlaceHolder]="'请选择楼栋'"
                (ngModelChange)="selectSecondLevel($event)">
                <nz-option *ngFor="let i of firstLevel" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
              </nz-select>
              <nz-select [(ngModel)]="item.secondLevel" [name]="'secondLevel'+i" [nzPlaceHolder]="'请选择单元'"
                (ngModelChange)="selectThirdLevel($event)">
                <nz-option *ngFor="let i of secondLevel" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
              </nz-select>
              <nz-select [(ngModel)]="item.roomNumber" [name]="'roomNumber'+i" [nzPlaceHolder]="'请选择房间'">
                <nz-option *ngFor="let i of thirdLevel" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
              </nz-select>
            </div>
          </se>
          <se label="角色" col="2" required>
            <nz-select [(ngModel)]="item.residentIdRel" [name]="'residentIdRel'+i" [nzPlaceHolder]="'请选择'">
              <nz-option *ngFor="let i of relationList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </se>
          <se label="起止日期" col="2" *ngIf="item.residentIdRel!=='GUEST'" required>
            <range-picker [(ngModel)]="item.startDate" [(ngModelEnd)]="item.endDate" [nzPlaceHolder]="['入住日期','权限截止日期']"
              [name]="'residentIdRel'+i"></range-picker>
          </se>
          <se label="租赁日期" col="2" *ngIf="item.residentIdRel==='GUEST'" required>
            <range-picker [(ngModel)]="item.startDate" [(ngModelEnd)]="item.endDate" [nzPlaceHolder]="['开始日期','结束日期']"
              [name]="'residentIdRel2'+i"></range-picker>
          </se>
          <se label="房屋面积" col="2">
            <nz-input-group nzSuffix="平方米">
              <input nz-input [(ngModel)]="item.area" [name]="'area'+i" />
            </nz-input-group>
          </se>
          <se label="" col="2" required>
            <button nz-button nzType="danger" (click)="deleteRoom(i)">删除</button>
          </se>
        </div>
        <se label="" col="1">
          <button nz-button nzType="primary" (click)="addRoom($event)">添加房间</button>
        </se>
      </nz-tab>
    </nz-tabset>
  </form>
</ng-template>

<new-check [show]='showCheck' (save)="handleCheck($event)" (cancel)="showCheck = false"></new-check>
