<page-header title="快递" autoBreadcrumb="false"> </page-header>

<nz-card [nzBordered]="false">
  <form nz-form se-container labelWidth="130">
    <se label="预约人姓名" col="4">
      <input nz-input placeholder="请输入" [(ngModel)]="query.name" name="name" />
    </se>
    <se label="联系方式" col="4">
      <input nz-input placeholder="请输入" [(ngModel)]="query.tel" name="name" />
    </se>
    <se label="快递方式" col="4">
      <nz-select [(ngModel)]="query.expressWay" name="expressWay" [nzPlaceHolder]="'请选择'" nzAllowClear>
        <nz-option *ngFor="let i of expressList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se col="4" labelWidth="0">
      <button nz-button [nzType]="'primary'" (click)="getData(1)" [nzLoading]="loading">查询</button>
      <button nz-button (click)="reset()" [disabled]="loading">重置</button>
    </se>
  </form>
</nz-card>

<nz-card [nzBordered]="false">
  <st #st [data]="data" [total]="total" [ps]="query.pageSize" [pi]="query.pageNo" [columns]="columns" [page]="pages"
    [loading]="loading" (change)="stChange($event)" [scroll]="{ x: '1000px' }"></st>
</nz-card>
