<div style="position: relative;display: inline-block" *ngIf="data">
  <div class="item" (click)="showDropdown()">
    <span>{{ config.renderTitle(this.settings.app.community) }}</span>&nbsp;
    <i nz-icon nzType="down-square" nzTheme="outline"></i>
  </div>
  <nz-modal [nzStyle]="{ position: 'absolute', top: '50px', left: '250px', padding: '20px' }"
    [(nzVisible)]="hideDropdown" [nzTitle]="config&&config.title" [nzFooter]="null" (nzOnCancel)="cancel()">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input [placeholder]="config&&config.placeholder" [(ngModel)]="searchText"
        (input)="handleSearch($event)" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon type="search"></i>
    </ng-template>
    <nz-list [nzLoading]="listLoading" [nzDataSource]="data.rows" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
      <ng-template #item let-item>
        <nz-list-item class="point wd-wide auto-space" (click)="handleCommunityChange(item)">
          {{ config.renderItem(item) }}
        </nz-list-item>
      </ng-template>
    </nz-list>
    <div style="display: flex;justify-content: space-around">
      <nz-pagination [nzPageIndex]="data.pageNo" [nzPageSize]="data.pageSize" [nzTotal]="data.total" [nzSize]="'small'"
        (nzPageIndexChange)="handlePageChange($event)">
      </nz-pagination>
    </div>
  </nz-modal>
</div>
