<page-header title="账号管理" autoBreadcrumb="false" fixed="true" [action]="action">
  <ng-template #action>
    <button nz-button (click)="selectedRow={};addOrEditOrView(modalContent,'add')" [nzType]="'primary'">
      <i nz-icon nzType="plus"></i>
      <span>新建账号</span>
    </button>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form se-container labelWidth="60">
    <se label="姓名" col="5" style="margin-bottom: 0;">
      <input nz-input [(ngModel)]="query.name" name="name" />
    </se>
    <se label="用户名" col="5" style="margin-bottom: 0;">
      <input nz-input [(ngModel)]="query.account" name="account" />
    </se>
    <se label="角色" col="5" style="margin-bottom: 0">
      <nz-select [(ngModel)]="query.roleName" name="roleName" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
        <nz-option *ngFor="let i of roleList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="手机号" col="5" style="margin-bottom: 0;">
      <input nz-input [(ngModel)]="query.tel" name="tel" />
    </se>
    <se col="5">
      <button nz-button [nzType]="'primary'" (click)="getData(1)" [nzLoading]="loading">查询</button>
      <button nz-button (click)="reset()" [disabled]="loading">重置</button>
    </se>
  </form>
</nz-card>

<nz-card [nzBordered]="false">
  <st #st [data]="data" [total]="total" [ps]="query.pageSize" [pi]="query.pageNo" [columns]="columns" [page]="pages"
    [loading]="loading" (change)="stChange($event)" [scroll]="{x: '1000px'}"></st>
</nz-card>

<!-- 新建或修改员工模板 -->
<ng-template #modalContent>
  <form nz-form se-container labelWidth="90">
    <se label="用户名" col="2" required>
      <input nz-input [(ngModel)]="selectedRow.account" name="account" nzRequired />
    </se>
    <se label="姓名" col="2" required>
      <input nz-input [(ngModel)]="selectedRow.name" name="name" />
    </se>
    <se label="手机号" col="2" required>
      <input nz-input [(ngModel)]="selectedRow.tel" name="tel" />
    </se>
    <se label="性别" col="2" required>
      <nz-select [(ngModel)]="selectedRow.genderEnum" name="genderEnum" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
        <nz-option *ngFor="let i of sexList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="用户密码" col="2" required>
      <input nz-input type="password" [(ngModel)]="selectedRow.pwd" name="pwd" />
    </se>
    <se label="确认密码" col="2" required>
      <input nz-input type="password" [(ngModel)]="selectedRow.pwdRepeat" name="pwdRepeat" />
    </se>
    <se label="角色" col="2" required>
      <nz-select [(ngModel)]="selectedRow.roleCateEnum" name="roleCateEnum" [nzPlaceHolder]="'请选择'"
        [nzShowSearch]="true">
        <nz-option *ngFor="let i of roleList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
  </form>
</ng-template>
