<page-header title="巡更计划" autoBreadcrumb="false" [action]="action">
  <ng-template #action>
    <button nz-button (click)="selectedRow={};addOrEditOrView(modalContent,'add')" [nzType]="'primary'">
      <i nz-icon nzType="plus"></i>
      <span>新建巡更计划</span>
    </button>
    <button nz-button (click)="patchDelete()" [nzType]="'primary'">
      <i nz-icon nzType="delete"></i>
      <span>批量删除</span>
    </button>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form se-container labelWidth="130">
    <se label="计划名称" col="3">
      <input nz-input style="width:100%" placeholder="请输入计划名称" [(ngModel)]="selectedRow.buildingNo" name="buildingNo" />
    </se>
    <se col="3" labelWidth="0">
      <button nz-button [nzType]="'primary'" (click)="getData(1)" [nzLoading]="loading">查询</button>
      <button nz-button (click)="reset()" [disabled]="loading">重置</button>
    </se>
  </form>
</nz-card>

<nz-card [nzBordered]="false">
  <st #st [data]="data" [total]="total" [ps]="query.pageSize" [pi]="query.pageNo" [columns]="columns" [page]="pages"
    [loading]="loading" (change)="stChange($event)" [scroll]="{x: '1000px'}"></st>
</nz-card>

<ng-template #modalContent>
  <form nz-form se-container labelWidth="130">
    <se label="计划名称" col="1" required>
      <input nz-input style="width:100%" placeholder="请输入二维码名称,长度不超过20个字" [(ngModel)]="selectedRow.buildingNo"
        name="buildingNo" />
    </se>
    <se label="起止时间" col="1" required>
      <nz-date-picker class="input" style="width:100%" nzFormat="yyyy-MM-dd" nzPlaceHolder="开始日期"
        [(ngModel)]="selectedRow.beginDate"></nz-date-picker>
    </se>
    <se label="巡更类型" col="1" required>
      <nz-radio-group [(ngModel)]="selectedRow.type">
        <label nz-radio [nzValue]="o.value" *ngFor="let o of genderList">{{ o.label}}</label>
      </nz-radio-group>
    </se>
  </form>
</ng-template>
