<page-header title="巡更路线" autoBreadcrumb="false" [action]="action">
  <ng-template #action>
    <button nz-button (click)="selectedRow={};addOrEditOrView(modalContent,'add')" [nzType]="'primary'">
      <i nz-icon nzType="plus"></i>
      <span>新建巡更路线</span>
    </button>
    <button nz-button (click)="patchDelete()" [nzType]="'primary'">
      <i nz-icon nzType="delete"></i>
      <span>批量删除</span>
    </button>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form se-container labelWidth="130">
    <se label="巡更路线名称" col="3">
      <input nz-input style="width:100%" placeholder="请输入巡更路线名称" [(ngModel)]="selectedRow.buildingNo"
        name="buildingNo" />
    </se>
    <se col="3" labelWidth="0">
      <button nz-button [nzType]="'primary'" (click)="getData(1)" [nzLoading]="loading">查询</button>
      <button nz-button (click)="reset()" [disabled]="loading">重置</button>
    </se>
  </form>
</nz-card>

<nz-card [nzBordered]="false">
  <st #st [data]="data" [total]="total" [ps]="query.pageSize" [pi]="query.pageNo" [columns]="columns" [page]="pages"
    [loading]="loading" (change)="stChange($event)" [scroll]="{x: '1000px'}"></st>
</nz-card>

<ng-template #modalContent>
  <form nz-form se-container labelWidth="130">
    <se label="路线名称" col="1" required>
      <input nz-input style="width:100%" placeholder="请输入" [(ngModel)]="selectedRow.buildingNo" name="buildingNo" />
    </se>
    <se label="计划名称" col="1" required>
      <nz-select class="input" [(ngModel)]="selectedRow.name" nzAllowClear nzPlaceHolder="请选择">
        <nz-option *ngFor="let option of genderList" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
      </nz-select>
    </se>
    <se label="巡更对象" col="1" required>
      <input nz-input style="width:100%" placeholder="请输入" [(ngModel)]="selectedRow.upstairFloors"
        name="upstairFloors" />
    </se>
  </form>
</ng-template>
