<page-header title="生活小常识" autoBreadcrumb="false" [action]="action">
  <ng-template #action>
    <button nz-button (click)="selectedRow={};addOrEditOrView(modalContent,'add')" [nzType]="'primary'">
      <i nz-icon nzType="plus"></i>
      <span>新建生活小常识</span>
    </button>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <st #st [data]="data" [total]="total" [ps]="query.pageSize" [pi]="query.pageNo" [columns]="columns" [page]="pages"
    [loading]="loading" (change)="stChange($event)" [scroll]="{x: '1000px'}"></st>
</nz-card>

<!--新增生活小常识-->
<ng-template #modalContent>
  <form nz-form se-container labelWidth="130">
    <se label="标题" col="1" required>
      <input nz-input style="width:100%" placeholder="请输入" [(ngModel)]="selectedRow.title" name="name" />
    </se>
    <se label="标题图片" col="1">
      <app-img-upload action="/hl/social/uploader/img/upload" (getImgUrl)="getImgUrl($event)"
        [inputUrls]="[selectedRow.image]"></app-img-upload>
    </se>
    <se label="文章跳转链接" col="1" required>
      <input nz-input style="width:100%" placeholder="请输入" [(ngModel)]="selectedRow.url" name="url" />
    </se>
  </form>
</ng-template>
