<page-header title="公告管理" autoBreadcrumb="false" [action]="action">
  <ng-template #action>
    <button nz-button (click)="selectedRow={};dateRange=null;getTagData();addOrEditOrView(modalContent,'add')"
            [nzType]="'primary'">
      <i nz-icon nzType="plus"></i>
      <span>新建公告</span>
    </button>
    <button nz-button (click)="tagManager(tagContent)" [nzType]="'primary'">
      <i nz-icon nzType="plus"></i>
      <span>标签管理</span>
    </button>
    <button nz-button [nzType]="'primary'" (click)="batchDelete()">
      <i nz-icon nzType="delete"></i>
      <span>批量删除</span>
    </button>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">

  <form nz-form se-container labelWidth="130">
    <se label="公告类别" col="4">
      <nz-select [(ngModel)]="query.noticeCate" name="noticeCate" [nzPlaceHolder]="'请选择'"
                 (ngModelChange)="selectCate()">
        <nz-option *ngFor="let i of noticeCateList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="公告标题" col="4">
      <input nz-input [(ngModel)]="query.title" name="title"/>
    </se>
    <se>
      <button nz-button [nzType]="'primary'" (click)="getData(1)" [nzLoading]="loading">查询</button>
      <button nz-button (click)="reset()" [disabled]="loading">重置</button>
    </se>
  </form>
</nz-card>

<nz-card [nzBordered]="false">
  <st #st [data]="data" [total]="total" [ps]="query.pageSize" [pi]="query.pageNo" [columns]="columns" [page]="pages"
      [loading]="loading" (change)="stChange($event)" [scroll]="{x: '1000px'}"></st>
</nz-card>


<!--置顶-->
<ng-template #topContent>
  <form nz-form se-container labelWidth="130">
    <se label="选择置顶时间" col="1" required>
      <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onRangeChange($event)"
                       name="dateRange"></nz-range-picker>
    </se>
  </form>
</ng-template>

<!--新增公告-->
<ng-template #modalContent>
  <form nz-form se-container labelWidth="130">
    <se label="标题" col="1" required>
      <input nz-input [(ngModel)]="selectedRow.title" name="name"/>
    </se>
    <se label="标题图片" col="1">
      <app-img-upload action="/hl/social/uploader/img/upload" (getImgUrl)="getImgUrl($event)"
                      [inputUrls]="[selectedRow.image]"></app-img-upload>
    </se>
    <se label="文章标签" col="1" required>
      <nz-select [(ngModel)]="selectedRow.tag" name="tag" [nzPlaceHolder]="'请选择'">
        <nz-option *ngFor="let i of this.tagObject.data" [nzLabel]="i.name" [nzValue]="i.name"></nz-option>
      </nz-select>
    </se>
    <se label="文章概述" col="1" required>
      <input nz-input [(ngModel)]="selectedRow.descr" name="descr"/>
    </se>
    <se label="" col="3">
      <label nz-checkbox [(ngModel)]="selectedRow.isTop" name="top">是否置顶</label>
    </se>
    <se label="置顶时间" col="2" *ngIf="selectedRow.isTop" required>
      <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onRangeChange($event)"
                       name="dateRange"></nz-range-picker>
    </se>
    <se label="" col="1">
      <label nz-checkbox [(ngModel)]="selectedRow.isPush" name="isPush">是否推送到移动端</label>
    </se>
    <!--  <se label="公告类型" col="1">
        <nz-radio-group [(ngModel)]="selectedRow.type" name="type">
          <label nz-radio nzValue="1">全部</label>
          <label nz-radio nzValue="2">用户</label>
          <label nz-radio nzValue="3">物业</label>
        </nz-radio-group>
      </se>-->
    <se label="" col="1">
      <tinymce [(ngModel)]="selectedRow.content" (ngModelChange)="htmlChange($event)" name="content"></tinymce>
    </se>
  </form>
</ng-template>


<!--查看公告-->
<ng-template #viewContent>
  <div>
    <h1 style="text-align: center">{{selectedRow.title}}</h1>
    <p>所属标签：{{selectedRow.tag}}</p>
    <div #content></div>
  </div>
</ng-template>

<!--标签管理-->
<ng-template #tagContent>
  <p style="margin-bottom: 50px">
    <button style="float: left" nz-button
            (click)="tagObject.selectedRow={};tagObject.copy = {};addOrEditTag(tagModalContent,'add')"
            [nzType]="'primary'">
      <i nz-icon nzType="plus"></i>
      <span>新增标签</span>
    </button>
  </p>
  <st #tagSt [data]="tagObject.data" [total]="tagObject.total" [ps]="tagObject.query.pageSize"
      [pi]="tagObject.query.pageNo" [columns]="tagObject.columns" [page]="tagObject.pages"
      [loading]="tagObject.loading" (change)="tagStChange($event)" [scroll]="{x: '500px'}"></st>
</ng-template>

<!--新增编辑标签-->
<ng-template #tagModalContent>
  <form nz-form se-container labelWidth="130">
    <se label="标签名" col="1" required>
      <input nz-input [(ngModel)]="tagObject.selectedRow.name" name="name"/>
    </se>
  </form>
</ng-template>
