<div class="alain-default__header-logo" style="display: flex;align-items: center; justify-content: center">
  <a *ngIf="!settings.layout.collapsed" [routerLink]="['/']" class="alain-default__header-logo-link"
    style="display: flex;align-items: center; justify-content: space-around;min-width: 50px;">
    <img class="alain-default__header-logo-expanded" src="../../../../assets/imgs/logo.png" alt="{{settings.app.name}}"
      style="max-height:40px;" />
    <h3 style="color: white;margin-bottom: 0;margin-left: 8px;">{{settings.app.name}}</h3>
  </a>
  <a *ngIf="settings.layout.collapsed" [routerLink]="['/']">
    <img src="../../../../assets/imgs/logo.png" alt="{{settings.app.name}}" style="max-height:40px;" />
  </a>

</div>
<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <!-- Menu -->
    <li>
      <div class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">
        <i nz-icon nzType="menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
      </div>
    </li>
    <li style="color:white;">
      当前物业公司： {{settings.user.propertyCompanyName}}
    </li>
    <li style="color:white;margin-left: 20px;">
      当前社区： <app-dropdown-table [config]="config"></app-dropdown-table>
    </li>
  </ul>

  <ul class="alain-default__nav">
    <li class="hidden-mobile">
      <header-user></header-user>
    </li>
  </ul>
</div>
